{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Blog - Edit User{% endblock %}

<!-- content block -->
{% block main %}

<!-- edit user -->
<div class="container-fluid my-5">
  <div class="col mx-auto card bg-light p-5">
    <h3>
    Edit User
    </h3>
        
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
      {{form.first_name.label}}
      {{form.first_name(class_="form-control")}}
    </div>
    <div class="mb-3">
      {{form.last_name.label}}
    {{form.last_name(class_="form-control")}}
    </div>
    <div class="form-control-group mb-3">
      {{form.biography.label}}
      {{form.biography(class_="form-control")}}
    </div>

    <div class="my-3">
    {{form.submit(class_="btn btn-success")}}
  </div>

  </form>
  </div>



</div>


{% endblock %}